
#rubriken{
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: #f2f542;
    border: 5px solid black;
    border-radius: 1px;
    text-align: center;
}

body{
    background-image: url("./showcase.jpg");
    size: cover;
    background-position: center;
}

.html-5-box{
    background-color: rgb(193, 190, 188);
    border: 1px solid black;
    align-items: center;
    margin: 20px;
}

.css-3-box{
    background-color: rgb(193, 190, 188);
    border: 1px solid black;
    align-items: center;
    margin: 20px;
}

.javascript-box{
    background-color: rgb(193, 190, 188);
    border: 1px solid black;
    align-items: center;
    margin: 20px;
}

.sidfot{
    align-items: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}